name: CI
on: [push, pull_request]
jobs:
  build-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: ninja
        ports: ['5432:5432']
        options: >-
          --health-cmd "pg_isready -U postgres" --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis:7
        ports: ['6379:6379']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: corepack enable && corepack prepare pnpm@latest --activate
      - run: pnpm i
      - run: pnpm --filter @ninjas/api prisma db push
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/ninja
      - run: pnpm --filter @ninjas/api prisma db seed
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/ninja
      - run: pnpm build
      - run: pnpm test

